/* Pagination */
nav.brightfire-pagination {
  text-align: center;
  margin: $base-spacing 0;

  ul.page-numbers {
    font-size: 0;
    line-height: 1;
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;

    li {
      font-size: 14px;
      list-style-type: none;
      display: inline-block;
      padding: 0;
      margin: 0;

      &:first-child {
        .page-numbers {
          border-radius: $button-border-radius 0 0 $button-border-radius;
        }
      }

      &:last-child {
        .page-numbers {
          border-radius: 0 $button-border-radius $button-border-radius 0;
          border-right: $base-border;
        }
      }

      .page-numbers,
      .page-numbers:link,
      .page-numbers:visited {
        color: #333;
        text-align: center;
        text-decoration: none;
        padding: 10px 0;
        width: 36px;
        display: block;
        border-left: $base-border;
        border-top: $base-border;
        border-bottom: $base-border;
      }



      a:hover {
        background: #e8e8e8;
      }

      .current {
        background: #888;
        color: #fff;
        border-color: #888;
      }
    }
  }
}

@include media( $mobile ) {
  nav.brightfire-pagination.indicators {

    ul.page-numbers {
      li {
        .page-numbers,
        .page-numbers:link,
        .page-numbers:visited {
          display: none;
        }

        //.current {
        //  display: block;
        //}

        .page-numbers.next,
        .page-numbers.prev {
          display: block;
          width: auto;
          padding-left: $half-spacing;
          padding-right: $half-spacing;
        }
      }

      .page-numbers.prev {
        border-radius: $button-border-radius;
        border: $base-border;
        margin-right: $half-spacing;
        &:after {
          content: ' Prev'
        }
      }

      .page-numbers.next{
        border-radius: $button-border-radius;
        &:before {
          content: 'Next '
        }
      }
    }
  }
}
