.child-page-links {
  clear: both;

  ul {
    @extend %default-ul;
    @include span-columns( 6 );

    &.columns-3 {
      @include span-columns( 4 );
    }

    &.columns-4 {
      @include span-columns( 3 );
    }
  }
  @include media( $mobile ) {
    ul {
      @include span-columns(12);
      margin-bottom: 0;

      &.columns-3,
      &.columns-4 {
        @include span-columns( 12 );
      }

      &:last-child{
        margin-bottom: $base-spacing;
      }
    }
  }

  &::after {
    display: block;
    content: '';
    clear: both;
  }
}