div.input-counter {
  font-size: 12px;
  font-style: italic;
  padding: 4px 0; }
  div.input-counter span.len {
    color: #0085ba;
    font-weight: 700; }

.bf-admin-api.input-wrapper {
  display: block;
  position: relative; }
  .bf-admin-api.input-wrapper.deprecated.block {
    background-color: #FFCCCC !important;
    border: 1px solid #bf1111;
    border-bottom: 1px solid #bf1111 !important; }
  .bf-admin-api.input-wrapper.deprecated .field-label {
    color: #bf1111; }
  .bf-admin-api.input-wrapper.deprecated .field-desc {
    color: #000000; }
  .bf-admin-api.input-wrapper.block {
    padding: 12px;
    background-color: #F6F6F6;
    margin: 12px 0 0 0;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 5px; }
  .bf-admin-api.input-wrapper.inline {
    margin: 0 12px 0 0;
    display: inline-block; }
    .bf-admin-api.input-wrapper.inline .selectize-control {
      min-width: 200px; }
  .bf-admin-api.input-wrapper.basic {
    margin: 1em 0; }

.bf-admin-api.checkboxes {
  margin: 1em 0 0 0; }
  .bf-admin-api.checkboxes div.checkbox-option span.checkbox-label {
    cursor: pointer; }

.bf-admin-api.field-label {
  font-size: 1em;
  font-weight: 700;
  display: block;
  padding: 0;
  margin: 1em 0 0 0; }

.bf-admin-api.field-desc {
  font-size: .8em;
  font-style: italic;
  display: block;
  padding: 0;
  margin: 0; }

span.range-current-output {
  font-size: 12px;
  font-weight: bold;
  text-align: left; }

span.min-label {
  font-size: 11px;
  float: left;
  text-align: left;
  font-style: italic; }

span.max-label {
  font-size: 11px;
  float: right;
  text-align: right;
  font-style: italic; }

label.phone-label {
  display: block;
  font-size: 12px;
  text-align: left;
  margin: 0 0 5px 0;
  font-style: italic; }

.bf-admin-field {
  display: block;
  margin: 1em 0 0 0; }
  .bf-admin-field.search {
    font-size: inherit;
    color: inherit; }
  .bf-admin-field.button {
    height: 35px;
    line-height: 33px; }
  .bf-admin-field.widefat {
    padding: 8px; }
  .bf-admin-field.range {
    -webkit-appearance: slider-horizontal !important;
    width: 99%;
    border-radius: 8px;
    height: 7px;
    border: 1px solid #ccc;
    background-color: #efefef;
    outline: none; }
    .bf-admin-field.range::-webkit-slider-thumb {
      -webkit-appearance: sliderthumb-horizontal !important;
      background-color: #00a0d2;
      border: 1px solid #0073aa;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      cursor: default; }
  .bf-admin-field.phone {
    margin: 0; }
  .bf-admin-field.phone-ext {
    margin: 0; }
  .bf-admin-field.textarea {
    resize: none;
    height: 250px; }
  .bf-admin-field.color-picker {
    margin: 0 !important; }

.bf-admin-image-container {
  width: 150px;
  height: 150px;
  position: relative;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #ddd; }
  .bf-admin-image-container:hover {
    background-color: #ffffff; }
    .bf-admin-image-container:hover:before {
      color: #ddd; }
  .bf-admin-image-container:before {
    font-family: dashicons;
    font-size: 75px;
    line-height: 75px;
    color: #fff;
    content: "\f306";
    position: absolute;
    top: 45px;
    left: 35px; }
  .bf-admin-image-container .remove-message {
    display: none; }
  .bf-admin-image-container.remove-image:before {
    content: ''; }
  .bf-admin-image-container.remove-image:hover .remove-message {
    background-color: rgba(191, 17, 17, 0.8);
    color: #fff;
    height: 100%;
    width: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    justify-content: center; }

div.wp-picker-container {
  float: left; }

button.color-picker-toggle {
  float: right;
  background: #f7f7f7;
  border-radius: 0 2px 2px 0;
  color: #555;
  display: block;
  line-height: 22px;
  padding: 0 6px;
  text-align: center;
  font-size: 11px;
  outline: none;
  border-color: #ccc;
  cursor: pointer; }
  button.color-picker-toggle:hover {
    border-color: #999; }

div.color-picker-helper {
  display: none;
  position: absolute;
  top: calc(100% - 22px);
  right: 10px;
  left: 10px;
  height: auto;
  background: #f7f7f7;
  border: 1px solid #ccc;
  padding: 1em;
  z-index: 99; }
  div.color-picker-helper div.helper-column {
    float: left;
    display: block;
    margin-right: 2.33333%;
    width: 23.25%;
    text-align: center; }
    div.color-picker-helper div.helper-column:last-of-type {
      margin-right: 0; }
    div.color-picker-helper div.helper-column div.helper-label {
      font-weight: 700;
      margin: 0 auto 0.5em auto; }
    div.color-picker-helper div.helper-column div.color-swatch {
      width: 20px;
      height: 20px;
      border: 1px solid #ccc;
      display: block;
      margin: 0 auto 0.5em auto;
      cursor: pointer; }
      div.color-picker-helper div.helper-column div.color-swatch:hover {
        border-color: #999; }
      div.color-picker-helper div.helper-column div.color-swatch:last-child {
        margin: 0 auto; }

.tab-wrapper {
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px; }

.bf-admin-api-nav-tab.nav-tab-active {
  background-color: #fff;
  border-bottom: 1px solid #fff; }

.bf-admin-api.bf-repeater-container .ui-sortable-placeholder {
  outline: 1px dashed #333333;
  opacity: 0.4;
  background-color: #cccccc;
  visibility: visible !important;
  margin: 15px auto; }

.bf-admin-api.bf-repeater-container .bf-repeater {
  margin: 15px auto; }
  .bf-admin-api.bf-repeater-container .bf-repeater .bf-repeater-top {
    background-color: #f6f6f6;
    border: 1px solid #dfdfdf;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    min-height: 26px;
    box-sizing: border-box; }
    .bf-admin-api.bf-repeater-container .bf-repeater .bf-repeater-top .bf-repeater-draghandle {
      letter-spacing: 1px;
      color: #ccc;
      position: absolute;
      left: 12px;
      top: 12px; }
    .bf-admin-api.bf-repeater-container .bf-repeater .bf-repeater-top .bf-repeater-actions {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 8; }
      .bf-admin-api.bf-repeater-container .bf-repeater .bf-repeater-top .bf-repeater-actions a.repeater-button {
        display: inline-block;
        text-align: center;
        background-color: #dfdfdf;
        font-size: 16px;
        color: #000;
        line-height: 24px;
        width: 24px; }
        .bf-admin-api.bf-repeater-container .bf-repeater .bf-repeater-top .bf-repeater-actions a.repeater-button.disabled {
          cursor: not-allowed !important; }
          .bf-admin-api.bf-repeater-container .bf-repeater .bf-repeater-top .bf-repeater-actions a.repeater-button.disabled:hover {
            background-color: #dfdfdf !important;
            color: inherit !important; }
      .bf-admin-api.bf-repeater-container .bf-repeater .bf-repeater-top .bf-repeater-actions a.collapse-bf-repeater i.fa-sort-down::before {
        position: relative;
        top: -3px; }
      .bf-admin-api.bf-repeater-container .bf-repeater .bf-repeater-top .bf-repeater-actions a.collapse-bf-repeater i.fa-sort-up::before {
        position: relative;
        top: 4px; }
      .bf-admin-api.bf-repeater-container .bf-repeater .bf-repeater-top .bf-repeater-actions a.collapse-bf-repeater:hover {
        background-color: #ccc;
        color: #fff; }
      .bf-admin-api.bf-repeater-container .bf-repeater .bf-repeater-top .bf-repeater-actions a.add-bf-repeater:hover {
        background-color: #46b450;
        color: #fff; }
      .bf-admin-api.bf-repeater-container .bf-repeater .bf-repeater-top .bf-repeater-actions a.del-bf-repeater:hover {
        background-color: #dc3232;
        color: #fff; }
    .bf-admin-api.bf-repeater-container .bf-repeater .bf-repeater-top.bf-repeater-handle {
      cursor: move; }
  .bf-admin-api.bf-repeater-container .bf-repeater .bf-repeater-inside {
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-top: 0 none transparent;
    padding: 12px; }
  .bf-admin-api.bf-repeater-container .bf-repeater.open .bf-repeater-top .bf-repeater-collapse:after {
    content: "\f142"; }

.bf-admin-api.bf-repeater-container.sortable .bf-repeater .bf-repeater-top:hover {
  cursor: move;
  background-color: #fbfbfb; }

.bf-admin-api.bf-repeater-container.collapsible .bf-repeater .bf-repeater-inside {
  display: none; }

.bf-admin-api.bf-repeater-container.collapsible .bf-repeater .bf-repeater-top {
  cursor: pointer; }
  .bf-admin-api.bf-repeater-container.collapsible .bf-repeater .bf-repeater-top .bf-repeater-collapse {
    display: block; }

div.selectize-rich-item.category a {
  border-left: 1px solid #999999 !important; }

div.selectize-rich-item.category-margin {
  background-color: #fce6cf !important; }

div.selectize-rich-item.category-padding {
  background-color: #e9edd4 !important; }

div.selectize-rich-option {
  border-bottom: 1px solid #efefef;
  padding: 4px;
  position: relative;
  min-height: 44px; }
  div.selectize-rich-option div.selectize-swatch {
    position: absolute;
    width: 34px;
    top: 4px;
    right: 4px;
    height: 34px;
    border: 1px solid #999; }
    div.selectize-rich-option div.selectize-swatch.background-gold {
      background-color: #e9ad3a; }
    div.selectize-rich-option div.selectize-swatch.background-black-white, div.selectize-rich-option div.selectize-swatch.background-default {
      background-color: #fff; }
    div.selectize-rich-option div.selectize-swatch.background-transparent {
      background-image: -moz-linear-gradient(45deg, #efefef 25%, transparent 25%), -moz-linear-gradient(-45deg, #efefef 25%, transparent 25%), -moz-linear-gradient(45deg, transparent 75%, #efefef 75%), -moz-linear-gradient(-45deg, transparent 75%, #efefef 75%);
      background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, #efefef), color-stop(0.25, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #efefef), color-stop(0.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, #efefef)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, #efefef));
      -moz-background-size: 10px 10px;
      background-size: 10px 10px;
      -webkit-background-size: 10px 11px;
      /* override value for shitty webkit */
      background-position: 0 0, 5px 0, 5px -5px, 0px 5px;
      background-color: #fff; }
    div.selectize-rich-option div.selectize-swatch.background-undefined:after {
      position: absolute;
      top: 1px;
      bottom: 0;
      left: -4px;
      right: 0;
      content: "\274c";
      font-size: 17px;
      color: #bf1111;
      line-height: 34px;
      text-align: center; }
  div.selectize-rich-option span.selectize-name {
    font-size: inherit;
    display: block;
    padding: 0 40px 0 0; }
  div.selectize-rich-option span.selectize-desc {
    font-size: 11px;
    font-style: italic;
    color: #666;
    display: block;
    padding: 0 40px 0 0; }

.spinner.spinner-dark {
  background: url("/wp-content/mu-plugins/brightfire-insurance-library/assets/images/spinner-dark.gif") no-repeat !important; }

div.wp-url-search-control {
  position: relative; }
  div.wp-url-search-control div.wp-url-search-loading {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: progress; }
    div.wp-url-search-control div.wp-url-search-loading.loading {
      display: block; }
    div.wp-url-search-control div.wp-url-search-loading .text {
      padding: 10px;
      color: #fff; }
      div.wp-url-search-control div.wp-url-search-loading .text span.spinner-dark {
        float: none;
        position: relative;
        top: -3px;
        margin: 0 6px 0 0; }
  div.wp-url-search-control div.wp-url-search-dropdown {
    color: #303030;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    -webkit-font-smoothing: inherit;
    position: absolute;
    width: 99%;
    z-index: 10;
    border: 1px solid #d0d0d0;
    background: #ffffff;
    margin: -1px 0 0 0;
    box-sizing: border-box;
    border-radius: 0 0 3px 3px; }
    div.wp-url-search-control div.wp-url-search-dropdown div.results {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 200px; }
      div.wp-url-search-control div.wp-url-search-dropdown div.results a {
        cursor: pointer;
        border-bottom: 1px solid #efefef;
        padding: 5px 8px;
        font-size: inherit;
        font-weight: 700;
        display: block;
        color: #303030; }
        div.wp-url-search-control div.wp-url-search-dropdown div.results a span {
          opacity: 0.7;
          padding-right: 4px; }
        div.wp-url-search-control div.wp-url-search-dropdown div.results a:hover {
          background-color: #f5fafd;
          color: #495c68; }

/**
 * selectize.css (v0.12.1)
 * Copyright (c) 2013-2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */
.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
  box-shadow: inset 0 0 12px 4px #ffffff; }

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden; }

.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0; }

.selectize-dropdown-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #303030;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important; }
  .selectize-dropdown-header-close:hover {
    color: #000000; }

.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
    border-right: 0 none; }
  .selectize-dropdown.plugin-optgroup_columns .optgroup:before {
    display: none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none; }

.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important; }
  .selectize-control.plugin-remove_button [data-value] .remove {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    padding: 2px 0 0 0;
    border-left: 1px solid #d0d0d0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .selectize-control.plugin-remove_button [data-value] .remove:hover {
      background: rgba(0, 0, 0, 0.05); }

.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #cacaca; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #ffffff; }
  .selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
    background: none; }

.selectize-control {
  position: relative; }
  .selectize-control .selectize-input.disabled {
    opacity: 0.5;
    background-color: #fafafa; }

.selectize-dropdown {
  color: #303030;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-font-smoothing: inherit;
  position: absolute;
  z-index: 10;
  border: 1px solid #d0d0d0;
  background: #ffffff;
  margin: -1px 0 0 0;
  border-top: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px; }
  .selectize-dropdown [data-selectable] {
    cursor: pointer;
    overflow: hidden;
    padding: 5px 8px; }
    .selectize-dropdown [data-selectable] .highlight {
      background: rgba(125, 168, 208, 0.2);
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px; }
  .selectize-dropdown .optgroup-header {
    padding: 5px 8px;
    color: #303030;
    background: #eeeeee;
    cursor: default;
    font-weight: 700; }
  .selectize-dropdown .optgroup:first-child .optgroup-header {
    border-top: 0 none; }
  .selectize-dropdown .active {
    background-color: #f5fafd;
    color: #495c68; }
  .selectize-dropdown .active.create {
    color: #495c68; }
  .selectize-dropdown .create {
    color: rgba(48, 48, 48, 0.5); }

.selectize-input {
  color: #303030;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  -webkit-font-smoothing: inherit;
  background: #ffffff;
  cursor: text;
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid #d0d0d0;
  padding: 8px 8px;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .selectize-input input {
    color: #303030;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    -webkit-font-smoothing: inherit; }
  .selectize-input > * {
    vertical-align: baseline;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .selectize-input > input {
    display: inline-block !important;
    padding: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    margin: 0 2px 0 0 !important;
    text-indent: 0 !important;
    border: 0 none !important;
    background: none !important;
    line-height: inherit !important;
    -webkit-user-select: auto !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
    .selectize-input > input::-ms-clear {
      display: none; }
    .selectize-input > input:focus {
      outline: none !important; }
  .selectize-input::after {
    content: ' ';
    display: block;
    clear: left; }

.selectize-control.single .selectize-input.input-active {
  background: #ffffff;
  cursor: text;
  display: inline-block;
  cursor: text; }
  .selectize-control.single .selectize-input.input-active input {
    cursor: text; }

.selectize-control.single .selectize-input {
  cursor: pointer; }
  .selectize-control.single .selectize-input input {
    cursor: pointer; }
  .selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #808080 transparent transparent transparent; }

.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #808080 transparent; }

.selectize-control.multi .selectize-input.has-items {
  padding: 6px 8px 3px; }

.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
  background: #f2f2f2;
  color: #303030;
  border: 0 solid #d0d0d0; }

.selectize-control.multi .selectize-input > div.active {
  background: #e8e8e8;
  color: #303030;
  border: 0 solid #cacaca; }

.selectize-control.multi .selectize-input.disabled > div {
  color: #7d7d7d;
  background: #ffffff;
  border: 0 solid #ffffff; }

.selectize-control.multi .selectize-input.disabled > div.active {
  color: #7d7d7d;
  background: #ffffff;
  border: 0 solid #ffffff; }

.selectize-input.full {
  background-color: #ffffff; }

.selectize-input.disabled {
  cursor: default !important; }
  .selectize-input.disabled * {
    cursor: default !important; }

.selectize-input.focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15); }

.selectize-input.dropdown-active {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0; }
  .selectize-input.dropdown-active::before {
    content: ' ';
    display: block;
    position: absolute;
    background: #f0f0f0;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0; }

.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px; }

.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto; }

.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important; }

.bf-progress-bar-container {
  margin: 0 0 1em 0; }
  .bf-progress-bar-container .bf-progress-bar-message {
    display: block;
    margin: 0 0 0.5em 0;
    font-weight: 700; }
  .bf-progress-bar-container .bf-progress-bar {
    background-color: #f2f2f2;
    border: 1px solid gainsboro;
    border-radius: 3px;
    box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15);
    height: 30px;
    margin: 0 auto;
    padding: 2px;
    width: 100%; }
    .bf-progress-bar-container .bf-progress-bar > span.meter {
      transition: width 0.5s;
      box-sizing: border-box;
      display: block;
      height: 100%;
      width: 0;
      color: #ffffff;
      font-style: italic;
      font-weight: 700;
      padding: 5px;
      border-radius: 2px; }
      .bf-progress-bar-container .bf-progress-bar > span.meter.running {
        animation: progress 0.7s linear infinite;
        background-color: #477DCA;
        background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%);
        background-repeat: repeat-x;
        background-size: 40px 40px;
        border: 1px solid #2c5999; }
      .bf-progress-bar-container .bf-progress-bar > span.meter.error {
        animation: none;
        background-image: none;
        background-color: #bf1111; }
      .bf-progress-bar-container .bf-progress-bar > span.meter.complete {
        animation: none;
        background-image: none;
        background-color: #4caf50; }

@-webkit-keyframes progress {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 40px 0; } }

@-moz-keyframes progress {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 40px 0; } }

@-ms-keyframes progress {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 40px 0; } }

@-o-keyframes progress {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 40px 0; } }

@keyframes progress {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 40px 0; } }

.CodeMirror-wrap {
  border: 1px solid #dddddd; }

/*# sourceMappingURL=brightfire-admin-api.css.map */