.widget_bf_cpc{
  ul {
    @extend %default-ul;

    ul,
    ol {
      margin-bottom: 0;
    }
  }
  ol {
    @extend %default-ol;

    ul,
    ol{
      margin-bottom: 0;
    }
  }

  p,
  ul,
  ol {
    + h1, + h2, + h3,
    + h4, + h5, + h6 {
      margin-top: $base-spacing-2;
    }
  }
}