.recent-blog-posts {

  &.right .bf-loop-has-featured-image p.excerpt,
  &.left .bf-loop-has-featured-image p.excerpt {
    width: 60%;

    @include media($mobile) {
      width: 100%;
    }
  }

  &.left .bf-loop-has-featured-image p.excerpt {
    float: left;
  }

  &.right .bf-loop-has-featured-image p.excerpt {
    float: right;
  }

  .post {
    border-top: 1px solid rgba($border-color-dark, 0.2);
    margin-bottom: $base-spacing;
    padding-top: $base-spacing;

    &:first-of-type {
      border-top: none;
      padding-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    h3 {
      margin-bottom: $half-spacing;

      + .post-info {
        padding-top: 0;
      }
    }

    .bf-loop-featured-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: $base-spacing * 8;

      &.alignleft {
        margin-right: 5%;
      }

      &.alignright {
        margin-left: 5%;
      }

      &.alignleft,
      &.alignright {
        width: 35%;
      }

      &.aligncenter,
      &.alignnone {
        width: 100%;
      }

      @include media($mobile) {
        &.alignleft,
        &.alignright,
        &.aligncenter,
        &.alignnone {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}