// BrightFire CUSTOM ICONS
@font-face {
  font-family: 'bf-custom-icons';
  src: url('/wp-content/mu-plugins/brightfire-core/modules/brightfire-custom-icons/assets/fonts/bf-custom-icons.eot?24046674');
  src: url('/wp-content/mu-plugins/brightfire-core/modules/brightfire-custom-icons/assets/fonts/bf-custom-icons.eot?24046674#iefix') format('embedded-opentype'),
  url('/wp-content/mu-plugins/brightfire-core/modules/brightfire-custom-icons/assets/fonts/bf-custom-icons.woff2?24046674') format('woff2'),
  url('/wp-content/mu-plugins/brightfire-core/modules/brightfire-custom-icons/assets/fonts/bf-custom-icons.woff?24046674') format('woff'),
  url('/wp-content/mu-plugins/brightfire-core/modules/brightfire-custom-icons/assets/fonts/bf-custom-icons.ttf?24046674') format('truetype'),
  url('/wp-content/mu-plugins/brightfire-core/modules/brightfire-custom-icons/assets/fonts/bf-custom-icons.svg?24046674#bf-custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.fa-citysearch:before { content: '\e800'; font-family: 'bf-custom-icons'; }
.fa-insider-pages:before { content: '\e801'; font-family: 'bf-custom-icons'; }
.fa-yellow-pages:before { content: '\e802'; font-family: 'bf-custom-icons'; }
.fa-bbb:before { content: '\e803'; font-family: 'bf-custom-icons'; }
.fa-google-maps:before { content: '\e804'; font-family: 'bf-custom-icons'; }
.fa-rocketreferrals:before { content: '\e805'; font-family: 'bf-custom-icons'; }